In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("googlefacebook.csv")

In [3]:
df.head()

  Company              Job     Deegre  Salary_more_than_100k
0  google  Product manager  Bachelors                      0
1  google  Product manager  Bachelors                      0
2  google  Product manager  Bachelors                      0
3  Google  Product manager  Bachelors                      0
4  Google  Product manager  Bachelors                      0

In [4]:
inputs=df.drop('Salary_more_than_100k',axis='columns')
target=df['Salary_more_than_100k']

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le_company=LabelEncoder()
le_Job=LabelEncoder()
le_degree=LabelEncoder()

In [7]:
inputs['company_n']=le_company.fit_transform(inputs['Company'])
inputs['job_n']=le_Job.fit_transform(inputs['Job'])
inputs['degree_n']=le_degree.fit_transform(inputs['Deegre'])
inputs.head()

  Company              Job     Deegre  company_n  job_n  degree_n
0  google  Product manager  Bachelors          2      1         0
1  google  Product manager  Bachelors          2      1         0
2  google  Product manager  Bachelors          2      1         0
3  Google  Product manager  Bachelors          1      1         0
4  Google  Product manager  Bachelors          1      1         0

In [8]:
inputs_n=inputs.drop(['Company','Job','Deegre'],axis='columns')
inputs_n

     company_n  job_n  degree_n
0            2      1         0
1            2      1         0
2            2      1         0
3            1      1         0
4            1      1         0
..         ...    ...       ...
115          0      2         2
116          0      2         2
117          0      2         2
118          0      2         2
119          0      2         2

[120 rows x 3 columns]

In [9]:
from sklearn import tree

In [10]:
model=tree.DecisionTreeClassifier()

In [11]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [12]:
model.score(inputs_n,target)

0.7416666666666667

In [ ]:
import numpy as np

my_list = [1,2,1]
my_array = np.array(my_list)

In [ ]:
array=my_array.reshape(1,-1)

In [ ]:
print(array)

In [ ]:
model.predict(array)